.docent-home {
    text-align: center;
  }
  
  .docent-home-logo {
    height: 40vmin;
    pointer-events: none;
  }
  
  .docent-home-header {
    background-color: white;
    min-height: 25vh;
    display: flex;
    flex-direction: center;
    align-items: center;
    justify-content: right;
    font-size: calc(10px + 2vmin);
    color: black;
  }
  .docent-home-body {
    background-color: white;
    min-height:25vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: black;
  }
  
  .button-container{
    display: grid;
    grid-template-columns: repeat(3,  1fr);
    gap:  10px; /* Adjust the gap size as needed */
  }
  
  .usertype-button{
    background-color: #d7d7d7dd;
    border: none;
    color: #333;
    padding: 10px 20px;
    font-size: 16px;
    cursor:pointer;
    transition: background-color 0.3s;
  }
  
  .usertype-button:hover{
    background-color: #717171;
  }
  
  .docent-home-logout{
    background-color: #d7d7d7dd;
    border: none;
    color: #333;
    padding: 10px 20px;
    font-size: 20px;
    cursor:pointer;
    transition: background-color 0.3s;
    margin-left: 110px;
    font-family: "Garamond", Times, serif;
    border-radius: 15px;
  }
  
  .docent-home-logout:hover{
    background-color: #717171;
  }
  
  .docent-home-header {
    background-color: white;
    margin-top: 10px;
    margin-right: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 98%;
    font-size: calc(10px + 2vmin);
    color: black;
    min-height:8vh;
  }
  
  .docent-home-logo {
    height: 10vh;
    pointer-events: none;
    padding-left: 10px;
  }
  
  .docent-tag-button{
    background-color: #d7d7d7dd;
    border: none;
    color: #333;
    padding: 10px;
    border-radius: 10px;
    margin: 10px;
    font-size: 40px;
    cursor:pointer;
    transition: background-color 0.3s;
    font-family: "Garamond", Times, serif;
  }
  
  .docent-tag-button:hover{
    background-color: #717171;
  }
  
  .docent-tag-label{
    border-bottom:2px solid #F1BE48;
    font-family: "Garamond", Times, serif;
    font-size: 40px;
    margin-bottom: 10px;
  }

  .docent-diagram-label{
    font-family: "Garamond", Times, serif;
    font-size: 30px;
    margin-bottom: 5px;
  }
  
  .docent-home-diagram {
    height: 50vh;
    pointer-events: none;
    border-style: groove;
    border-radius: 25px;
  }