.admin-report-export{
    background-color: #d7d7d7dd;
    border: none;
    color: #333;
    padding: 10px 20px;
    font-size: 20px;
    cursor:pointer;
    transition: background-color 0.3s;
    font-family: "Garamond", Times, serif;
    width: auto;
    height: auto;
    font-size: 20px;
    position: fixed;
    right: 10px;
    bottom: 10px;
    border-radius: 10px;
}

.admin-report-export:hover{
    background-color: #717171;
}

.admin-report-table{
    display: block;
    overflow: hidden;
    table-layout: fixed;
    border-collapse: collapse;
    box-shadow: 0px 10px 10px #ccc;
    border-radius: 10px;
    white-space: nowrap;
    max-width: 95%;
    margin: auto;
    overflow-x: auto;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.admin-report-table-small{
  display: block;
  overflow: hidden;
  table-layout: fixed;
  border-collapse: collapse;
  box-shadow: 0px 10px 10px #ccc;
  border-radius: 10px;
  white-space: nowrap;
  max-width: 50%;
  margin: auto;
  overflow-x: auto;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.admin-report-table-small thead,
.admin-report-table thead{
    background-color: #ccc;
    color: #222;
}

.admin-report-table-small th,
.admin-report-table-small td,
.admin-report-table th,
.admin-report-table td{
    padding: 0.8rem;
}

.admin-report-table-small td,
.admin-report-table td{
    border-top: 0.5px solid #ddd;
    overflow: hidden;
    text-overflow: ellipsis;
}
.admin-report-table-small tbody tr:hover
.admin-report-table tbody tr:hover{
    background-color: #eee;
}

.admin-report-expand{
    width: 100%;
}

.admin-report-logout{
    background-color: #d7d7d7dd;
    border: none;
    color: #333;
    padding: 10px 20px;
    font-size: 20px;
    cursor:pointer;
    transition: background-color 0.3s;
    margin-left: 15px;
    font-family: "Garamond", Times, serif;
    border-radius: 15px;
}
.admin-report-logout:hover{
    background-color: #717171;
}

  
.admin-report-logo {
    height: 10vh;
    pointer-events: none;
    padding-left: 10px;
}

.admin-report-header {
    background-color: white;
    margin-top: 10px;
    margin-right: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 98%;
    font-size: calc(10px + 2vmin);
    color: black;
    min-height:10vh;
}

.admin-edit-header {
  background-color: white;
  margin-top: 10px;
  margin-right: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 98%;
  font-size: calc(10px + 2vmin);
  color: black;
  min-height: 10vh;
}


.admin-report-title {
  color: black;
  font-family: "Garamond", Times, serif;
  font-size: 30px;
  font-weight: bold;
  padding-top: 20px;
  padding-left: 10px;
}

.admin-report-body {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: left;
  font-size: calc(10px + 2vmin);
  color: black;
  padding-left: 10px;
}